<div class="container back-div">
	<div class="transparency"></div>
	<h2 class="title">Buddies Near You</h2>

	<div id="list-container">
	</div>

	<div class="row">
		<div class="col-md-4">
			<img src="<%= @buddies[0][:profile_pic] %>" alt="" class="img-rounded img-responsive">
			<p><strong><%= @buddies[0][:display_name] %></strong></p>
			<p>Favorite activites: <%= @buddies[0][:activities] %></p>
			<a href="#" class="more-button btn btn-primary">Email user</a>
		</div>
	</div>
</div>