<div class="container back-div">
	<div class="transparency"></div>
	<h2 class="title">Buddies Near You</h2>

	<div id="list-container">
	</div>

	<%= @buddies[0][:display_name] %>


	<img src="<%= @buddies[0][:profile_pic] %>" alt="">
	<%= @buddies[0][:activities] %>
</div>