<style type="text/css">
	.create-btn {
		float: right;
	}
</style>

<div class="container">
	<div class="feat-events back-div">
		<div class="transparency"></div>
		<div class="opaque-content">
			<h2 class="title">Featured Events</h2>
			<div class="list-item">
				<p>Name</p>
				<p>Add description here.</p>
				<p>Recommended for you because: x, y, z</p>
			</div>
			<div class="list-item">
				<p>Name</p>
				<p>Add description here.</p>
				<p>Recommended for you because: x, y, z</p>
			</div>
			<div class="list-item">
				<p>Name</p>
				<p>Add description here.</p>
				<p>Recommended for you because: x, y, z</p>
			</div>

		</div>
		<div class="center-block">
			<a href="#event" class="more-button btn btn-success btn-lg">Find more events</a>
			<a href="#create_event" class="create-btn btn btn-warning btn-lg">Create event</a>
		</div>
	</div>

	<div class="suggested-buddies back-div">
		<div class="transparency"></div>
		<div>
			<h2 class="title">Suggested Buddies</h2>
		<div class="list-item">
			<div class="row">
				<!-- MAKE A FOR LOOP AND DELETE THE EXTRAS WHEN READY -->
				<div class="col-md-4 buddy-display">
					<img src="../images/test-profile-photo.jpg" class="img-rounded img-responsive">
					<p><strong>Name</strong></p>
					<p>Location</p>
					<p>Interests</p>
					<a href="#" class="more-button btn btn-primary">Email</a>
				</div>
				<div class="col-md-4 buddy-display">
					<img src="../images/test-profile-photo.jpg" class="img-rounded img-responsive">
					<p><strong>Name</strong></p>
					<p>Location</p>
					<p>Interests</p>
					<a href="#" class="more-button btn btn-primary">Email</a>
				</div>
				<div class="col-md-4 buddy-display">
					<img src="../images/test-profile-photo.jpg" class="img-rounded img-responsive">
					<p><strong>Name</strong></p>
					<p>Location</p>
					<p>Interests</p>
					<a href="#" class="more-button btn btn-primary">Email</a>
				</div>
				<div class="col-md-4 buddy-display">
					<img src="../images/test-profile-photo.jpg" class="img-rounded img-responsive">
					<p><strong>Name</strong></p>
					<p>Location</p>
					<p>Interests</p>
					<a href="#" class="more-button btn btn-primary">Email</a>
				</div>
			</div>
			<br><br>
		</div>
		<div class="center-block">
			<a href="#buddies" class="more-button btn btn-success btn-lg">Find more buddies</a>
		</div>
	</div>
</div>