<div class="feat-events">
	<h2 class="title">Featured Events</h2>

	<div class="list-item">
		<p>Name</p>
		<p>Add description here.</p>
		<p>Recommended for you because: x, y, z</p>
	</div>
	<div class="list-item">
		<p>Name</p>
		<p>Add description here.</p>
		<p>Recommended for you because: x, y, z</p>
	</div>
	<div class="list-item">
		<p>Name</p>
		<p>Add description here.</p>
		<p>Recommended for you because: x, y, z</p>
	</div>

	<a href="event.erb" class="more-button">More</a>
</div>

<div class="suggested-buddies">
	<h2 class="title">Suggested Buddies</h2>

	<div class="list-item">
		<p>Name</p>
		<p>Add description here.</p>
		<p>Recommended for you because: x, y, z</p>
	</div>
	<div class="list-item">
		<p>Name</p>
		<p>Add description here.</p>
		<p>Recommended for you because: x, y, z</p>
	</div>
	<div class="list-item">
		<p>Name</p>
		<p>Add description here.</p>
		<p>Recommended for you because: x, y, z</p>
	</div>
	
	<a href="buddies.erb" class="more-button">More</a>
</div>

<a href="create_event.erb" class="create-button">CREATE AN EVENT</a>