<div class="feat-events">
	<p class="title">Featured Events</p>
	<div class="feat-item">
		<p>Name</p>
		<p>Add description here.</p>
		<p>Recommended for you because: x, y, z</p>
	</div>
	<div class="feat-item">
		<p>Name</p>
		<p>Add description here.</p>
		<p>Recommended for you because: x, y, z</p>
	</div>
	<div class="feat-item">
		<p>Name</p>
		<p>Add description here.</p>
		<p>Recommended for you because: x, y, z</p>
	</div>
	<a href="event.erb" class="more-button">More</a>
</div>

<div class="suggested-buddies">
	<p class="title">Suggested Buddies</p>
	<div class="feat-item">
		<p>Name</p>
		<p>Add description here.</p>
		<p>Recommended for you because: x, y, z</p>
	</div>
	<div class="feat-item">
		<p>Name</p>
		<p>Add description here.</p>
		<p>Recommended for you because: x, y, z</p>
	</div>
	<div class="feat-item">
		<p>Name</p>
		<p>Add description here.</p>
		<p>Recommended for you because: x, y, z</p>
	</div>
	<a href="buddies.erb" class="more-button">More</a>
</div>

<a href="create_event.erb"></a>