<style type="text/css">
	body {
        background-image: url(../images/yoga.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #000;
	}

    .back-div {
        padding: 5em;
        width: 100%;
    }

    .back-div h1 {
        font-size: 63px;
    }

    .back-div p {
        margin-bottom: 15px;
        font-size: 21px;
        font-weight: 200;
    }

    .back-div .transparency {
        opacity:0.8;  
        filter:alpha(opacity=80);  
        -moz-opacity:0.8;
    }
</style>

<div class="container back-div">
    <div class="transparency"></div>
    <h1>Welcome to Workout Buddies</h1>
    <p>Why workout alone when you can workout with a buddy?</p>

    <p>Whether you're looking for an accountability partner, a team mate, a coach or just a friend, WorkoutBuddy can match up people in your area with similiar interests so that you can get out and start moving!</p>

    <p>With WorkoutBuddy you can search for buddies by activity or suggest new activities and invite buddies to join you! Sign up today to find a buddy and make your city a more active place!</p>
    <a href="/signin" class="more-button btn btn-warning">Sign In</a>
    <a href="/signup" class="more-button btn btn-warning">Sign Up</a>
</div>





