
<style type="text/css">
	body {
        background-image: url(../images/yoga.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #000;
	}
</style>

<div class="jumbotron">
    <div class="container">
        <h1>Welcome to Workout Buddies</h1>
        <p>This app aims to help you find partners near you to workout with based on your interests!</p>

    <a href="/signin"><button>Sign In</button></a>
    <a href="/signup"><button>Sign Up</button></a>

    </div>
</div>






