<style type="text/css">
	body {
		background-image: url(../images/landing_background.jpg);
	}
</style>

<h1>Welcome to Workout Buddies</h1>
<p>This app aims to help you find partners near you to workout with based on your interests. Sign in with your Google Account to enter the app!</p>

<form action='/signin' method='get'>
    <input class="button" type='submit' value='Sign In'>
</form>

<form action='/signup' method='get'>
    <input class="button" type='submit' value='Sign Up'>
</form>



