<!DOCTYPE html>
<html>
	<head>
		<title>Workout Buddies</title>
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/styles.css">

	    <style type="text/css">
	      	body {
	        	background-image: url(../images/landing_background.jpg);
	      	}

			
	    </style>
	</head>
	<body>
	        <!-- PUT THIS IN ONCE WE HAVE SESSIONS WORKING!--> <%  if session['workout_buddies'] %> 
    <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
	          <div class="navbar-header">
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	              <span class="sr-only">Toggle navigation</span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="/home">Workout Buddies</a>
	          </div>
	          <div class="navbar-collapse collapse">
	            <ul class="nav navbar-nav">
	              <li class="nav-items"><a href="/buddies">BUDDIES</a></li>
	              <li class="nav-items"><a href="/events">EVENTS</a></li>
	              <li class="nav-items"><a href="/profile">PROFILE</a></li>
	            </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/signout">SIGN OUT</a></li>
              </ul>
	          </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
      </nav>
	         <!-- PUT THIS IN ONCE WE HAVE SESSIONS!-->  <% end %> 

	    <%= yield %>

      <div class="footer">
        <div class="container">
          <p class="text-muted center-block"><!-- Created during <strong>Austin Ladies Hack!</strong> Copyright 2014 --></p>
        </div>
      </div>

	</body>
</html>