<!DOCTYPE html>
<html>
	<head>
		<title>Workout Buddies</title>
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/styles.css">

		  <script type="text/javascript">
			  (function() {
			    var po = document.createElement('script');
			    po.type = 'text/javascript'; po.async = true;
			    po.src = 'https://plus.google.com/js/client:plusone.js';
			    var s = document.getElementsByTagName('script')[0];
			    s.parentNode.insertBefore(po, s);
			  })();
			</script>
    <style type="text/css">
      body {
        background-image: url(../images/landing_background.jpg);
      }
    </style>
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
	        <div class="container-fluid">
	        <!-- PUT THIS IN ONCE WE HAVE SESSIONS WORKING!--> <% #if session[:token] %> 
	          <div class="navbar-header">
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	              <span class="sr-only">Toggle navigation</span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="#">Workout Buddies</a>
	          </div>
	          <div class="navbar-collapse collapse">
	            <ul class="nav navbar-nav">
	              <li><a href="#home">Home</a></li>
	              <li><a href="#events">Events</a></li>
	              <li><a href="#buddies">Buddies</a></li>
	            </ul>
	          </div><!--/.nav-collapse -->
	         <!-- PUT THIS IN ONCE WE HAVE SESSIONS!-->  <% #end %> 
	        </div><!--/.container-fluid -->
	    </nav>

	    <%= yield %>




	</body>
</html>