<div class="container">
<div class="container">
	<div class="row">
		<h1>My profile</h1>
		<p class="lead">Select your interests and set your location to begin connecting with others in your area.</p>
	</div>
	<div class="row">
		<form role="form">
			<div class="form-group">
				<label for="eventName">Name</label>
				<input type="text" class="form-control" id="displayName" placeholder="">
			</div>
  			<div class="form-group">
  				<div class="row">
	  				<div class="col-sm-9">
		  				<label for="address">Street address</label>
		  				<input type="text" class="form-control" id="address" placeholder="">
	  				</div>
	  				<div class="col-sm-3">
	  					<label for="zip">Zip code</label>
		  				<input type="text" class="form-control" id="zip" placeholder="">
		  			</div>
	  		</div>
  			</div>
  			<div class="form-group">
  				<label for="activity">Activities</label><br>
  				<label class="checkbox-inline">
					<input type="checkbox" id="running" value="running"> Running
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="yoga" value="yoga"> Yoga
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="cycling" value="cycling"> Cycling
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="volleyball" value="volleyball"> Volleyball
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="ultimate" value="ultimate"> Ultimate Frisbee
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="swimming" value="swimming"> Swimming
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="tennis" value="tennis"> Tennis
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="football" value="football"> Football
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="rugby" value="rugby"> Rugby
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="softball" value="softball"> Softball
				</label>
  			</div>
			<button type="submit" class="btn btn-success btn-lg">Save profile</button>
		</form>
	</div>
</div>