<div align="center">
  <h2>Have an Account? Sign In</h2>
  <form action='/signin' method='post'>
    <input required="required" name='email' type="email" placeholder='Email'><br>
    <input type='password' required="required" name='password' placeholder='Password'><br />
    <input type='submit' class = "button" required="required" value='Submit'>
  </form>
  <hr>
  <h2>Need an Account?</h2> 
  <h4>Join the Workout Buddies Community!</h4>
  <a href="/signup" class="button">Signup</a>
</div>