<style type="text/css">
	.row {
		margin: 1em;
	}

	input {
		margin: 1em;
	}
</style>

<div class="container back-div">
	<div class="transparency"></div>
	<div class="row">
		<form action='/signin'  method='post' role="form">
			<!-- <div class="form-group"> -->
				<input type="email" name = "email" class="form-control" id="regEmail" placeholder="Email address">
			<!-- </div> -->

			<!-- <div class="form-group"> -->
    			<input type="password" name="password" class="form-control" id="regPassword" placeholder="Password">
  			<!-- </div> -->
  			<input type="submit" class="btn btn-primary" value="Sign In">
		</form>
	</div>
	<br><br>
	<div class="row">
		<h4>Don't have an account?</h4>
		<a href="/signup"><button class="btn btn-primary">Sign Up Now</button></a>
	</div>
</div>


