<style type="text/css">
  input {
    margin: 10px;
    padding: 5px;
    /*border-radius: 5px;*/
  }

  .back-div {

  }
</style>

<div class="back-div" align="center">
  <div class="transparency"></div>
  <h2>Signup!</h2>

  <form action='/signup' method='post'>
    <input type='email' name='email' required = "required" placeholder='Email'><br>
    <input type='text' name='display_name' placeholder='Display Name' required = "required"><br>
    <input type="text" name="address" placeholder="Street Address" required = "required"><br>
    <input type="text" name="zip" placeholder="Zip Code" required = "required"><br>
    <input type='password' name='password' placeholder='Password' required = "required"><br>
    <input type='password' name='password_confirm' placeholder='Verify password' required = "required"><br>
    <input type='submit' class="btn btn-primary" value='Submit'>
  </form>
</div>