img {
  max-width: 100%;
}

.back-div {
	position: relative;
	overflow: hidden;
    box-shadow: 0px 0px 1px 2px #cccccc;
}

.feat-events {  
    padding:20px;  
    margin:20px;  
    float: left;
}  

.opaque-content  
{  
    position:relative;  
} 

.suggested-buddies {  
    padding:20px;  
    margin:20px;  
    float: right;
    clear: left;
}  
  
.back-div .transparency  
{  
    opacity:0.95;  
    filter:alpha(opacity=95);  
    -moz-opacity:0.95;  
    background-color: white;  
    width: 100%;  
    height:1500px;  
    position:absolute;  
    top:0px;  
    left:0px;  
    z-index:-1;  
}  

.suggested-buddies, .feat-events {
	width: 80%;
}  

.profile-img {
	width:70%;
	margin: auto;
}

.intro {
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    margin-bottom: 20px;
    padding: 20px;

.buddy-display {
	text-align: center;
	font-size: 1.2em;
	margin: 20px 0px;
}

.buddy-display img {
	width:80%;
	margin: auto;
}

.jumbotron {
	background: none;
}

#gConnect {
	text-align: center;
	width: 100%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
